h1{
    font-size: 50px;
    text-decoration: none;
    color: black;
    animation-name: rotarTitulo;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
.titulo{
    width: 100vw;
    height: 80px;
    text-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,69,29,1) 25%, rgba(202,69,29,1) 50%, rgba(202,69,29,1) 75%, rgba(0,0,0,1) 100%);
}
@keyframes rotarTitulo {
    0%{
        transform: rotate(0deg);
    } 
    10%{
        transform: rotate(20deg);
    }     
    25%{
        transform: rotate(50deg);
    }  
    50%{
        transform: rotate(90deg);
    }  
    80%{
        transform: rotate(120deg);
    }  
    100%{
        transform: rotate(360deg);
    }  
}